@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
}
body {
  margin: 20px 60px;
  font-family: sans-serif;
  font-family: 'Roboto', sans-serif;
}

/* Header */

header {
  text-align: center;
}
header h1 {
  font-size: 36px;
  color: #d04f4f;
  margin: 0;
}

/* Section Search */
.input-recipe {
  background-color: #e7e7e7;
  border: none;
  height: 69px;
  width: 100%;

  border-radius: 5px;
}
.input-recipe:focus {
  outline: none;
}
.input-recipe::placeholder {
  font-size: 18px;
  padding-left: 15px;
}
.ingredients-search-input {
  background-color: #3282f7;
  list-style-type: none;
}
.ingredients-search-input li {
  margin-left: 12px;
}
.search-input {
  position: relative;
}
.search-input img {
  position: absolute;
  top: 20px;
  right: 10px;
}

/* Section Search Dropdown */
.filter {
  display: flex;

  margin-bottom: 40px;
}
.filter input {
  border: none;
  width: 170px;
  height: 69px;
  border-radius: 5px;
}
.filter input:focus {
  outline: none;
}
.filter input::placeholder {
  color: white;
  font-size: 18px;

  font-family: 'Roboto', sans-serif;
}
.input-container {
  position: relative;
  margin-right: 20px;
}
.ingredients-input {
  background-color: #3282f7;
  color: white;
  font-size: 18px;
  padding-left: 12px;
}

.appliances-input {
  background-color: #68d9a4;
  color: white;
  font-size: 18px;
  padding-left: 12px;
}

.ustensils-input {
  background-color: #ed6454;
  color: white;
  font-size: 18px;
  padding-left: 12px;
}
.icon-dropdown {
  position: absolute;
  top: 27px;
  left: 140px;
  width: 18px;
}
.icon-dropdown:hover {
  cursor: pointer;
}

/* Dropdown on click */
.dropdown-ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  color: white;
  overflow: hidden;
  max-height: 396px;
  padding-bottom: 10px;
  list-style-type: none;
  width: 667px;
}
.dropdown-ul li {
  flex-basis: 30%;
  margin-bottom: 19px;
  margin-left: 12px;
  font-size: 18px;
}
.dropdown-ul li:hover {
  cursor: pointer;
}
.ingredients {
  background-color: #3282f7;
  color: white;
  font-size: 18px;
}
.appliances {
  background-color: #68d9a4;
}
.ustensils {
  background-color: #ed6454;
}
.rotate {
  transform: rotate(180deg);
}

/* Filter Box */
.filter-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
}
.filter-box {
  display: flex;
  font-size: 18px;
  color: white;
  border-radius: 5px;
  padding: 10px 15px;
  margin-right: 20px;
  margin-bottom: 20px;
}
.filter-box p {
  margin-right: 10px;
}
.filter-box img:hover {
  cursor: pointer;
}
.filter-ingredients {
  background-color: #3282f7;
}
.filter-appliances {
  background-color: #68d9a4;
}
.filter-ustensils {
  background-color: #ed6454;
}

/* Section Recipe */
#content {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  align-items: center;
  justify-content: space-between;
}

.recipe-card {
  display: flex;
  flex-direction: column;
  width: 380px;
  height: 360px;
}

.recipe-img {
  width: 100%;
  background-color: #c7bebe;
  height: 180px;
}
.recipe-content {
  background-color: #e7e7e7;
  height: 180px;
}

.recipe-title-time {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
  padding: 12px;
}
.recipe-title-time h2 {
  font-size: 15px;
}
.recipe-time {
  display: flex;
  align-items: center;
  gap: 6px;
}
.recipe-ingredients ul {
  width: 48%;
}

.recipe-ingredients-description {
  display: flex;
  font-size: 12px;
  max-height: 88%;
  padding: 12px;
  justify-content: space-between;
}

.recipe-ingredients-description ul li {
  list-style-type: none;
}
.recipe-description {
  width: 50%;
}
.recipe-description p {
  max-height: 80%;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  max-width: 200px;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
}
