@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
}
body {
  margin: 20px 60px;
  font-family: sans-serif;
  font-family: 'Roboto', sans-serif;
}

/* Header */

header {
  text-align: center;
}
header h1 {
  font-size: 36px;
  color: #d04f4f;
  margin: 0;
}

/* Section Search */
.input-recipe {
  background-color: #e7e7e7;
  border: none;
  height: 69px;
  width: 100%;

  border-radius: 5px;
}
.input-recipe:focus {
  outline: none;
}
.input-recipe::placeholder {
  font-size: 18px;
  padding-left: 15px;
}
.search-input {
  position: relative;
}
.search-input img {
  position: absolute;
  top: 20px;
  right: 10px;
}

/* Section Search Dropdown */

.filter input {
  border: none;
  width: 170px;
  height: 69px;
  border-radius: 5px;
}
.filter input:focus {
  outline: none;
}
.filter input::placeholder {
  color: white;
  font-size: 18px;
  padding-left: 12px;
  font-family: 'Roboto', sans-serif;
}
.ingredients-container {
  position: relative;
}
.ingredients-input {
  background-color: #3282f7;
}
.icon-dropdown {
  position: absolute;
  top: 27px;
  left: 140px;
  width: 18px;
}
.icon-dropdown:hover {
  cursor: pointer;
}

/* Section Recipe */
#content {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  align-items: center;
  justify-content: space-between;
}

.recipe-card {
  display: flex;
  flex-direction: column;
  width: 380px;
  height: 360px;
}

.recipe-img {
  width: 100%;
  background-color: #c7bebe;
  height: 180px;
}
.recipe-content {
  background-color: #e7e7e7;
  height: 180px;
}

.recipe-title-time {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
  padding: 12px;
}
.recipe-title-time h2 {
  font-size: 15px;
}
.recipe-time {
  display: flex;
  align-items: center;
  gap: 6px;
}
.recipe-ingredients ul {
  width: 48%;
}

.recipe-ingredients-description {
  display: flex;
  font-size: 12px;
  max-height: 88%;
  padding: 12px;
  justify-content: space-between;
}

.recipe-ingredients-description ul li {
  list-style-type: none;
}
.recipe-description {
  width: 50%;
}
.recipe-description p {
  max-height: 80%;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  max-width: 200px;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
}
